body {

    margin: 0;
}
#background{
    background-image: url(achtergrond.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
  
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 100vh;
}


.box {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  min-width: 800px;
  min-height: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
  font-weight: 600;
}

.icon {
  font-size: 1.8rem;
}

.v-divider {
  width: 2px;
  height: 30px;
  background-color: #bbb;
}

.h-divider {
  margin-top: 15px;
  height: 2px;
  width: 100%;
  background-color: #ccc;
}
