body {

    margin: 0;
}
#background{
    background-image: url(achtergrond.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
  
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 100vh;
}


.box {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  min-width: 800px;
  min-height: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.v-divider {
  width: 2px;
  height: 30px;
  background-color: #bbb;
}



.values {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 30px 0;
}


.number {
  font-size: 1.8rem;
  font-weight: bold;
}


.footer {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  row-gap: 25px;
  align-items: center;
}

.cell {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
}

.value {
  font-size: 1.8rem;
}


.h-divider {
  grid-column: 1 / -1;
  height: 1px;
  background-color: #ccc;
}
