body {

    margin: 0;
}
#background{
    background-image: url(achtergrond.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
  
}
 h1{

    text-align: center;
 }